body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
}

.whiteWrapper {
    background: white;
    position: relative;
    z-index: 1000;
}

.container {
    max-width: 1024px;
    margin: 0 auto;
    clear: both;
}

.center {
    display: block;
    margin-left: 0 auto;
    margin-right: 0 auto;
}

.row {
    margin: 20px 0px;
}

.column_text {
    background: transparent;
    display: table-cell;
    margin: 10px, auto;
    width: 50%;
}

.column1 {
    display: table-cell;
    padding: 10px;
    width: 50%;
    text-align: center;
    vertical-align: middle;
    border-right: 10px solid white;
    border-left: 10px solid white;
}

.title {
    color: black;
    text-align: center;
    padding: 60px 0px 40px 0px;
    margin: 0 auto;
    font-size: 27px;
    font-weight: bold;
}

.image_left {
    width: 50%;
    padding: 10px;
    
}

.image_right {
    width: 50%;
    display: right;
    margin-left: 25px;
    padding-bottom: 20px;
}

a {
    text-decoration: none;
    color: #666666;
}

a:hover {
    text-decoration: none;
    color: #F7786B;
}

a:active {
    text-decoration: none;
    color: #F7786B;
}

a:focus {
    text-decoration: none;
    color: #F7786B;
}

.router-link-active {
    text-decoration: none;
    color: #F7786B;
}

.middle_white_text {
    padding: 5px;
    text-align: center;
    line-height: 1;
    color: white;
    margin: 10px;
    font-size: 20px;
}

.middle_black_text {
    background-color: transparent;
    text-align: center;
    font-size: 15px;
    color: #282828;
    font-family: Arial, Helvetica, Trebuchet, Tahoma, Arial, sans-serif;
    font-weight: lighter;
}

.font_title {
    text-align: left;
    line-height: 1.2;
    padding: 30px;
    font-family: Trebuchet, Tahoma, Arial, sans-serif;
}

.font_bold_center {
    text-align: center;
    font-weight: bold;
    line-height: 1.2;
    padding: 20px;
}

.font_regular {
    text-align: justify;
    line-height: 1.3;
}
#cytaty{
    text-align: right;
    padding: 30px;
    
}
/* Left and right column */



.img_66 {
    width: 66%;
    float: none;
    margin: 0 auto;
}

.img_100 {
    width: 100%;
    float: none;
    margin: 0px auto;
    padding: 40px;
}



.wrapper {
    padding: 30px 50px 30px 0px;
    height: auto;
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-family: Trebuchet, Trebuchet MS, Tahoma, Arial, sans-serif;
    text-align: right;
}

.footer_row {
    margin: 40px;
}

.footer {
    background-color: #45B8AC;
    display: table;
    height: 1px;
    width: 100%;
    margin: 0 auto;
}

.button {
    font-weight: bold;
    -webkit-transition: all .5s;
    -webkit-border-radius: 5px;
    line-height: 40px;
    color: white;
    background: #45B8AC;
    width: 120px;
    text-align: center;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, .5), 0px 0px 0px 1px rgba(0, 0, 0, .1);
    float: right;
}

.button:hover {
    color: #45B8AC;
    cursor: pointer;
    background: white;
}

.back_button {
    font-family: Trebuchet, Trebuchet MS, Tahoma, Arial, sans-serif;
    -webkit-transition: all .5s;
    -webkit-border-radius: 5px;
    line-height: 30px;
    color: white;
    background: #45B8AC;
    width: 80px;
    text-align: center;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, .5), 0px 0px 0px 1px rgba(0, 0, 0, .1);
    float: right;
}

.back_button:hover {
    color: #45B8AC;
    cursor: pointer;
    background: white;
}

@media (max-width: 768px) {
    .whiteWrapper {
        position: static;
    }

    #app {
        padding-top: 0;
    }
    #div1 {
        height: 50px !important;
    }
    .menu_element {
        padding: 0;
        top: 50px;
        right: 0;
        left: 0;
    }
    .title {
        color: black;
        text-align: center;
        padding: 40px 0px 40px 0px;
        font-size: 26px;
        font-weight: bold;
    }
    .wrapper {
        padding: auto;
        height: auto;
        color: white;
        text-decoration: none;
        font-size: 16px;
        font-family: Trebuchet, Trebuchet MS, Tahoma, Arial, sans-serif;
    }
    .footer {
        background-color: #45B8AC;
        display: table;
        height: 1px;
        width: 100%;
        text-transform: uppercase;
        margin: 0 auto;
    }
    

    .hideOnMobile {
        display: none !important;
      }
      #cytaty{
        text-align: right;
        padding: 30px;
        padding: 0 auto;
        font-size: 15px;
    }
}

@media (max-width: 600px) {
    .image_left {
        width: 80%;
        float: none;
    }
    .column.side, .column.middle {
        width: 100%;
    }
    .column {
        display: block;
    }
    
    .image_left,.image_right  {
        width: 100%;
        display: center;
        
    }
    
   
}

@media (max-width: 320px) {
    .image_left {
        width: 80%;
    }
    .container {
        width: 320px;
    }
}